[2016-10-11 10:26] njh opened #1 "Add a description to the GitHub project"
"No description or website provided."

This could become:

* Description: "JavaFX utility to help monitor activity on MQTT topics"
* URL: https://github.com/eclipse/paho.mqtt-spy/wiki/Home

[2016-10-12 17:11] kartben opened #2 "mqtt-spy packages should be org.eclipse.*"
Since the project is now an Eclipse project, the packages names should be updated accordingly.

[2016-10-12 20:25] kamilfb commented on #1
Thanks @njh for reporting it. I can't change it myself unfortunately - I will speak to an Eclipse admin to get that sorted...

[2016-10-13 13:37] mmilinkov opened #3 "Repository needs a LICENSE file"
Please add the Eclipse Public License to the repository.

[2016-10-13 14:30] jpwsutton commented on #3
Done: https://github.com/eclipse/paho.mqtt-spy/blob/master/LICENSE

[2016-10-13 15:58] kjordan-sa opened #4 "Amazon AWS connection"
I am unable to get any type of connection established to an AWS broker.

I have tried various security configurations.

Any help would be great.

[2016-10-13 16:06] kjordan-sa commented on #4
got it working after much trying.

[2016-10-13 16:06] #4 closed

[2016-10-13 17:30] acestu opened #5 "Raspbian Jessie Pixel Problem"
Hi,
I downloaded the Beta to my windows 10 machine and followed your Youtube tutorial no problem, however when I download the Beta to my raspberry pi 3 running the latest raspbian Jessie Pixel, I check the Java version which is: Java(TM) SE Runtime Environment (build 1.8.0_65-b17) , now the icon in the download folder for the mqtt-spy app is for an archive file and when you double click on it the

[2016-10-13 18:35] kjordan-sa commented on #4
Using AWS I found that the Security setting required are only in the TLS section.

Using the CA cert & client cert mode. TLSv1.2 protocol.
  -  required are the CA Cert, the Client Cert, and the Client Private Key (selected PEM format).

[2016-10-13 18:36] kamilfb commented on #5
Hi. Looks like a problem with file associations in Raspbian. Have you tried starting it from the command line?

[2016-10-13 18:38] kamilfb commented on #4
thank you for sharing the solution!

[2016-10-13 18:42] acestu commented on #5
Hi,
No, I haven't tried from a terminal, what should I type to start it ?

Thanks
Stuart

[2016-10-13 18:48] kamilfb commented on #5
Take a look at the Getting Started wiki page. For example:

java -jar mqtt-spy-0.3.0-jar-with-dependencies.jar

(just replace with the correct file name)

[2016-10-13 18:52] kamilfb commented on #2
hi @kartben. I will start doing it soon, but it will take a while to do it fully. This is to make sure new versions are backwards compatible...

[2016-10-13 19:17] acestu commented on #5
Hi,
Yes I have tried the obvious but I get this Error:

Error: Could not find or load main class pl.baczkowicz.mqttspy.Main

Thanks
Stuart

[2016-10-13 20:20] acestu commented on #5
Hi,

I guess this is a Java issue as I have it installed as you can see from the screenshot, and the error that I am getting is the same one on your Wiki that it says you get if Java above ver 60 is not installed.

Thanks
Stuart
![2016-10-13-201626_1920x1080_scrot](https://cloud.githubusercontent.com/assets/4260227/19365468/74fa1840-9182-11e6-95a1-a42401008d79.png)

[2016-10-13 20:48] kamilfb commented on #5
Hi @acestu,

I think you are right - Java on RPi is missing JavaFX support by default.

Found something on SO: http://stackoverflow.com/questions/36961054/can-javafx-be-used-on-raspberry-pi

Looks like downloading the Gluon SDK and copying the jfxrt.jar to your JRE/JDK lib directory might be the solution -  would you like to give it a try?

Also, there might be a way with using OpenJDK - take a lo

[2016-10-13 21:10] kamilfb opened #6 "Frequently Asked Questions"
If you need help with configuring or using mqtt-spy, please first review the [Frequently Asked Questions](FAQs) wiki page.

[2016-10-13 21:51] acestu commented on #5
Hi,

I downloaded the kit from Gluon and placed the jfxrt.jar file in the java directory but I still get the same error, I will have another look tomorrow, maybe it needs a Path listing somewhere, I will look into Openjdk also

Thanks
Stuart

[2016-10-14 08:50] jpwsutton commented on #3
After a quick chat with @icraggs, It looks like we also need some additional files to comply with the Eclipse legal requirements, from a look at the other paho repositories, I think we need:

- about.html (Example here: https://github.com/eclipse/paho.mqtt.android/blob/master/about.html)
- edl-v10 (Eclipse Distribution Licence)
- epl-v10 (Eclipse Public Licence)
- notice.html (Example here: https:

[2016-10-14 14:56] kamilfb commented on #1
Done! Didn't add the URL - was too long! ;-)

[2016-10-14 14:56] #1 closed

[2016-10-14 16:49] njh commented on #1
Great!

[2016-10-14 18:10] acestu commented on #6
Hi,

Just letting you know your Wiki link above is broken and returns a 404 Not Found

Thanks
Stuart

[2016-10-14 18:29] kamilfb commented on #6
@acestu well spotted! fixed now.

[2016-10-16 13:17] acestu commented on #5
Hi kamilfb,

You may find this page interesting, I didn't have any luck with it myself but then I am a Linux newcomer and maybe somebody with more experience could make it work:

http://chriswhocodes.com/

Thanks
Stuart

[2016-10-16 16:04] acestu commented on #5
There seem to be a few methods for getting javafx on the pi,  however, I suspect that it is not working because it is a case of properly declaring the Class Path and Java Path for the raspberry pi.

Thanks
Stuart

[2016-10-17 17:26] matgnt opened #7 "Universal Messaging broker (Software AG) doesn't support underscores in ClientID"
According to the specification (MQTT 3.1.1) the ClientID allows only the following characters:
"0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"

mqtt spy (0.5.3) generates a default ClientID that contains a "_" (underscore).
It generates it in the form of: <user>_<number>

This seems to be against the specification and stops you from connecting to e.g. "Universal Messaging" broker

[2016-10-17 21:30] kamilfb commented on #7
Hi @matgnt,

The MQTT spec says:
"The ClientId MUST be a UTF-8 encoded string as defined in Section 1.5.3 [MQTT-3.1.3-4]."

To me, this means any UTF-8 encoded string 0 to 65535 bytes.

The restriction you quote refers to server implementations, which might chose not to allow certain characters or lengths.

So the issue I think is: "Universal Messaging" broker from Software AG doesn't support unde

[2016-10-17 21:45] kamilfb opened #8 "Update Eclipse Paho website with new repo links"
Update Eclipse Paho website with:

- new Eclipse repo links
- short description of mqtt-spy

[2016-10-18 21:00] matgnt commented on #7
Oh, this is how to read it? The encoded bytes is what they talk about...
I only wonder why the ClientId is the only place where they explicitly list the characters in addition to referring to the UTF8 section?! Because what would be the difference to e.g. a topic then?

And yes, this describes the server, but if it wasn't a MUST to support _ (and that is what I understood), the client's default sh

[2016-10-18 21:35] kamilfb commented on #7
Hi @matgnt, I'll see what we can do about that - you're right, it'd be better to avoid the _ altogether if it's not necessary.

[2016-10-25 10:41] kamilfb commented on #3
@jpwsutton, many thanks for your recent pull (https://github.com/eclipse/paho.mqtt-spy/pull/9) - do you recon we now have everything we need?

[2016-10-27 08:20] jpwsutton commented on #3
@kamilfb No worries, Yes I think that's everything that is required now, I'll close this off.

[2016-10-27 08:20] #3 closed

[2016-12-07 16:27] egnascimento opened #10 "Hex encoder formatting strange behavior"
When I use Hex Encoder, it doesn't read properly some bytes. I looks like it doesn't read well bytes greater then 0x7F.

Please, refer to the screen below. I'm publishing 7e 7f 80 81 82. See the subscription result.
![2016-12-07 14_25_44-mqtt-spy](https://cloud.githubusercontent.com/assets/13719031/20976257/1e2725b2-bc89-11e6-8d57-5d25f12c00f4.png)

[2017-01-01 14:17] kamilfb commented on #10
hi @egnascimento, could you confirm which version are you using and on what platform/os?

[2017-01-01 18:47] egnascimento commented on #10
Latest stable 0.5.4. But I also noticed the same behavior on 0.6.x.

[2017-01-07 20:52] kamilfb commented on #10
I can recreate this - will investigate further...

[2017-01-07 22:33] kamilfb commented on #10
Hi. Could you try the new beta? 0.6.0 beta (build 56) - [Mirror HTTP Server](http://tinyurl.com/mqtt-spy-download/mqtt-spy-0.6.0-beta-b56-jar-with-dependencies.jar)

[2017-01-09 16:11] kamilfb commented on #7
@matgnt , could you try the latest beta and see if it's any better?

[2017-01-10 22:40] matgnt commented on #7
@kamilfb I tested it with 0.6.0 beta (build 56). Looks good! No _ (underscore) in the client id by default. I could connect to UM without any problems. Great!

[2017-01-10 22:40] #7 closed

[2017-01-11 09:18] kamilfb commented on #7
Cool! Thank you for the feedback @matgnt

[2017-01-16 09:31] smougenot opened #11 "Amazon IOT with certificates fails with NullPointerException"
Version : 0.5.4 (build 52)
java 8 : OpenJDK 64-Bit Server VM (build 25.111-b16, mixed mode)

Trying to use certificate authentication on Amazon IOT fails with error :
[code]

But it works fine with the same certificates (and key) using mosquitto_pub or MQTT.fx.
Settings look like this on MQTT-spy
![capture d ecran de 2017-01-16 10-28-05](https://cloud.githubusercontent.com/assets/1217669/21977500/

[2017-02-07 12:54] kamilfb commented on #10
I hope this has been resolved. Please report back if you have any issues.

[2017-02-13 09:51] kamilfb commented on #11
hi @smougenot,

Sorry for taking so long to reply. Looks like this is because the password is ending up as null as opposed to empty.

In the meantime you could try setting the client key password. I will get a fix for that this week.

[2017-02-22 16:32] stevebates opened #12 "Unable to run any example code without changes"
Hi guys,

Thanks for the response on Twitter, I've setup mqtt-spy on Ubuntu server 16.04, using my existing Java which I have installed and working for other apps. Everything is pretty much defaulted or has been but no matter what I try, it doesn't like any script. Java version is reported as below:

[code]

The actual errors I'm seeing are:

[code]

With the following configuration:

[code]

As m

[2017-02-22 16:34] kamilfb commented on #12
Hi @stevebates,

Have you tried mqtt-spy-daemon version 0.2.0 beta?

[2017-02-28 08:38] alieslam commented on #10
@kamilfb,

Still beta version has the same problem.
![mqtt-spy 0 6 0 beta build 52](https://cloud.githubusercontent.com/assets/8179651/23397601/e747760a-fda1-11e6-8544-8138640596eb.png)

[2017-03-02 04:45] manoj123448 opened #13 "Unable to connect to rabbitmq broker in another PC"
I am using Mqttspy GUI. If I give localhost or 127.0.0.1 I am able to connect to Rabbitmq without any issues. But if I give system IP address or if RabbitMQ is in another PC I am not able to connect through Mqttspy

[2017-03-02 11:11] alieslam opened #14 "Can't add publications/subscriptions before connecting"
Whenever i try to add publications/subscription before connecting, then press "+Add topic",the topic twists to the default "/samplePublication/" or "/sampleSubscription/".
![image](https://cloud.githubusercontent.com/assets/8179651/23504726/67ac4cfa-ff49-11e6-92c9-6cc83b610707.png)

I have tried both versions 0.5.4 and (beta) 0.6.0, and both have the same problem.

[2017-03-02 11:23] alieslam commented on #14
@kamilfb,
Apologies, I rushed submitting this issue. I also missed the note to press  "Enter" for submitting a new value.

[2017-03-03 09:16] kamilfb commented on #14
No worries. Thanks for using it!

[2017-03-03 09:16] #14 closed

[2017-03-03 09:17] kamilfb commented on #13
https://github.com/kamilfb/mqtt-spy/issues/109#issuecomment-283714868

[2017-03-03 09:17] #13 closed

[2017-03-15 19:59] egnascimento commented on #10
Sorry for such a bit delay. I'm confirming the behavior is the same. I'm
attaching my test screenshot.

​

2017-02-28 7:46 GMT-03:00 Kamil Baczkowicz <notifications@github.com>:

[2017-03-24 12:36] MrBillium opened #15 "Font size too small"
Please add capability to change globally

[2017-03-24 12:41] MrBillium opened #16 "Pretty Json display pane only displays 2 lines"
Pretty Json is a nice way to see complex JSON but the display pane only shows 2 1/2 rows and will not resize forcing the user to use the scrollbars.

Please  make Pretty Json pane bigger or resizable

[2017-03-24 13:11] MrBillium opened #17 "AutoSave suggestions"
I consider mqtt-spy a very useful tool but often find myself  having to retype publish messages or resubscribe to topics that I added yesterday from the front page but did not save in connections, manage connection,<connection>, subscriptions, add topic ( too much work!)

Requests:
Adding subscription with New button auto saves it to connection. Simple and fast

Publishing data to a topic will add

[2017-04-06 22:20] swilson86 commented on #5
Hi. I am unable to install MQTT-Spy for lack of documentation or vague directions like "double click on the jar." Some basic clues should be included in the Getting Started section. I cannot find the file mqtt-spy-0.3.0-jar-with-dependencies.jar after downloading and unzipping the github mqtt-spy software on both Windows 10 and Raspberry Pi. Very frustrating.

[2017-04-07 22:05] kamilfb commented on #16
Hi @MrBillium - any chance you could attach a screenshot to explain further?

[2017-04-07 22:37] kamilfb commented on #5
@swilson86
- you can't "install" mqtt-spy; one can download it and run it
- obviously version 0.3.0 is not in the Downloads section because it's been replaced by newer versions, e.g. 0.5.4; I suggest you try this one
- I'm not sure what you mean by unzipping the github mqtt-spy software; this is not mentioned anywhere in here; mqtt-spy ships as a runnable jar file

[2017-04-08 01:30] swilson86 commented on #5
Thanks Kamilfb. On this page you mention the 0.3.0 jar file: https://github.com/eclipse/paho.mqtt-spy/wiki/GettingStarted  I downloaded all the zipped files from https://github.com/eclipse/paho.mqtt-spy and nowhere do I see any version of a jar file not 0.3.0 or 0.5.4  Obviously there is some critical piece of information missing on your GettingStarted page.

[2017-04-08 16:48] MrBillium commented on #16
Unfortunately ( or fortunately)  no,

The problem is not now reproducible but I have since  rebooted my PC  – something I very rarely do so perhaps that fixed it.

I have simulated the look  of the problem by dragging the summary pane divider up but when I had the issue I could not pull it down – it was fixed.

Bill

From: Kamil Baczkowicz [mailto:notifications@github.com]
Sent: Friday, April 7, 2

[2017-04-09 16:06] swilson86 commented on #5
Found the jar file at https://github.com/eclipse/paho.mqtt-spy/wiki/Downloads  May I suggest in the documentation under Getting Started you place this link or an explanation. I totally missed the downloads link as it was the last thing in the list and logically should be the first thing in the list. Thanks!

[2017-04-11 20:32] kamilfb commented on #16
Thanks @MrBillium

[2017-04-11 20:32] #16 closed

[2017-04-11 20:35] kamilfb commented on #5
Getting Started updated - thanks @swilson86.

[2017-04-11 20:35] #5 closed

[2017-04-25 12:13] maartenl945 opened #18 "mqtt-spy looses messages on a subscription ?"
Hi,

I'm testing our implementation of sending messages to a mosquitto broker using the paho client library. In that testing I'm using mqqt-spy to check whether all sent messages actually arrive at the broker.

What I seem to have noticed is that mqqt-spy (0.5.4) misses messages on the subscription, where the mosquitto_sub client does not miss any messages on the same subscription.

For testing I'

[2017-05-12 11:26] icraggs commented on #8
Hi Kamil.  We should have a new page for mqtt-spy, with similar content to the other components.  Do you need help with this? (I'd like it to be done before the upcoming Paho 1.3 release)

[2017-05-12 11:27] icraggs commented on #2
Kamil,  what's the progress with this item?

[2017-05-13 05:52] swilson86 opened #19 "Chart problem adding/deleting entry"
There is a bug on release 56 of 6.0 Beta in the chart functionality. If I add a 2nd (or more) entry to the chart and then remove it, it doesn't get fully removed.

[2017-05-16 15:33] benjaminaigner opened #20 "Disconnect (keep tab) -> Reconnect -> no messages"
Hello,

if you connect with mqtt-spy to a broker and disconnect via right-click on the tab (keep tab),
no messages are received after a reconnect.

It is necessary to close the tab to receive messages again.

Best regards

[2017-05-17 09:09] Divirion opened #21 "Memory leak"
I am facing a memory issue when live plotting data. RAM usage goes up and up as data arrives until it eventually freezes my whole computer.
I'm running on Ubuntu 16.04 using mosquitto as my mqqt message broker. I tried using both 0.5.4 and 0.6.0 versions with no luck.

[2017-05-17 20:02] kamilfb commented on #18
Hi @maartenl945, thank you for reporting this. I will investigate and report back.

[2017-05-17 20:06] kamilfb commented on #19
Thanks for raising this @swilson86. I will investigate and report back.

[2017-05-17 20:07] kamilfb commented on #20
@benjaminaigner , after the reconnect, have you re-subscribed to all topics, either manually or in connection settings?

[2017-05-17 20:09] kamilfb commented on #21
hi @Divirion , could you provide some more information on what live data you are plotting and how quickly it grows?

[2017-05-17 20:44] kamilfb commented on #8
@icraggs, yes - I need some help with that. I'm more than happy to provide the content, but not sure how to do it.

[2017-05-17 20:56] kamilfb commented on #2
@icraggs - on my list - I'm hoping to get that sorted within a week

[2017-05-17 21:08] kamilfb opened #22 "Messages in a list"
The message browser pane only allows to see one message at a time for a given topic or group of topics (see below):
![12 - first pub received - selection](https://cloud.githubusercontent.com/assets/8521600/14701048/01ef3b94-079b-11e6-8061-02c8cb6da855.png)

In order to see messages as a list, you have to perform a search (by clicking on the search button shown above), and enable auto-refresh (see

[2017-05-17 21:09] kamilfb commented on #22
Available in latest beta.

[2017-05-17 21:09] #22 closed

[2017-05-18 02:54] Marwe commented on #21
In the attachment you can see the memory consumption logged in mqtt-spy via MQTT.
Only few minutes and all memory is used up.

Same thing observed with these versions:
mqtt-spy-0.5.3-jar-with-dependencies.jar
mqtt-spy-0.6.0-beta-b56-jar-with-dependencies.jar

I published the memory usage with this bash snippet:
`while true ; do mosquitto_pub -t 'mqtt-spy/memoryusage' -m "$(ps -C "java -jar /path/t

[2017-05-18 08:16] Divirion commented on #21
Hello @kamilfb,
I am plotting a simple data like this. A new data is received every 10ms.
![dataplotted](https://cloud.githubusercontent.com/assets/19845512/26192599/b66c8e86-3bb2-11e7-8987-d2a396a533b4.png)

Here is the RAM usage growing (starts at 40) :
![capture du 2017-05-18 10-11-43](https://cloud.githubusercontent.com/assets/19845512/26192634/d3b494f2-3bb2-11e7-93de-81c402ebbb84.png)

and he

[2017-05-23 12:12] benjaminaigner commented on #20
I had to re-subscribe all topics, which is not obvious :-)

Bug or feature ^^?

[2017-05-28 18:11] screig opened #23 "Unresponsive application after computer wakes from sleep"
On awakening from a sleep state, the app is frozen. No response to any input, only way to shut it down is from the task manager.

[2017-05-29 18:14] TotallyInformation commented on #23
On Windows 10, I've always had the problem where, if left running for a period (>1hr?), it becomes unresponsive with CPU utilisation around 15-40% (i7), memory seems relatively stable at around 4-500MB.

[2017-06-20 15:22] guillaume-d opened #24 "stacktraces from scripts lack the script filename => debugging tedious"
Replacing in [ScriptRunner.java](https://github.com/eclipse/paho.mqtt-spy/blob/master/spy-common/src/main/java/pl/baczkowicz/spy/scripts/ScriptRunner.java)
[code]
with the following should fix that (according to <https://stackoverflow.com/questions/2885120/replace-unknown-source-in-java-rhino-jsr223-with-actual-file-name/24559495#24559495>, _**untested**_):

[code]
(See also <https://docs.oracle.c

[2017-06-25 08:18] WernerSch opened #25 "mqtt-spy can not be start"
Hello

i hop i am on the right place here, because i find no forum. I get alwys this in my terminal. Can you hel me?

root@MQTT:~# cd /home/pi
root@MQTT:/home/pi# java -jar mqtt-spy1.jar
2017-06-24 22:28:41,074 ERROR [BaseConfigurationUtils        ]  - Invalid number format
2017-06-24 22:28:45,157 DEBUG [MqttViewManager               ]  - Selected perspective = DEFAULT
2017-06-24 22:28:45,171 ERRO

[2017-06-25 14:47] WernerSch commented on #25
Tool works with Windows 7 fine. Thats ok for me, so i dont need it on the raspberry
so you can close this issue.
sorry

[2017-06-30 19:42] kamilfb commented on #24
I will look into this. Thank you for reporting.

[2017-06-30 19:43] kamilfb commented on #25
Cheers

[2017-06-30 19:43] #25 closed

[2017-06-30 19:44] kamilfb commented on #23
Thank you for reporting it. I will look into this.

[2017-07-06 22:14] kamilfb commented on #20
Feature - because you manually disconnected, you had to manually resubscribe :)

[2017-07-06 22:14] #20 closed

[2017-07-11 08:33] RF77 opened #26 "Max Topic column width should be greater"
In "Received messages summary" data grid:

As we have quite long MQTT topic names in our project, we cannot make the topic column width big enough to see the whole topic name.

Used V 1.0

[2017-07-11 12:32] benjaminaigner commented on #20
Sounds practicable :-)
THX for the hint.

[2017-07-12 11:59] RF77 opened #27 "Topic ellipsis on the left side / beginning of topic"
In "Received messages summary" data grid:

As we have quite long MQTT topic names in our project, it would be nice to have an option to show the ellipsis on the left side (cut off beginning of topic).

Example: ...ent/Status instead of xy/abc/current/St...

[2017-07-19 14:31] jckruege opened #28 "'Retained' on received message not indicated correctly"
If publish a message with 'retained' enabled, the GUI does not indicate the message is 'Retained'. The published message however does behave as a retained message, so it must be set correctly during publish from the GUI.

[2017-07-24 12:47] edwin-oetelaar commented on #21
I am having memory leak issues too.
After a few days the whole application freezes up, consuming lots of memory.
I am not plotting anything, just using the list view to see the topics and messages.
Some messages that are received are 2.5 MB in size, maybe this is an issue.
I receive about  1 GB of messages each day total volume.

The logging shows :+1: 2017-07-24 14:24:46,849 DEBUG [BaseViewManage

[2017-07-25 16:41] tastybicuits opened #29 "Link to the 1.0.0 Jar appears to be broken"
Hi,
The link to the 1.0.0 jar appears to be broken with a authenticity error.

Link tried (from release notes and wiki downloads page)
https://github.com/eclipse/paho.mqtt-spy/releases/download/1.0.0/mqtt-spy-1.0.0.jar

Source download as a zip from the release notes page works well.

Cheers,
Nick

[2017-07-25 21:50] #29 closed

[2017-08-04 08:31] TotallyInformation commented on #28
I see the same issue but not always. It seems to depend on how the subscription was formed. Possibly when using the "New" tab, the retained flag is not reflected correctly.

[2017-08-04 09:20] TotallyInformation opened #30 "Enhancement Request: Save subscriptions layout/format"
Hi, really nice to see mqtt-spy going from strength to strength.

One of the things I find myself doing a lot now is changing the layout for a subscription tab. It would be really nice if each pre-defined subscription remembered both the layout and the format.

[2017-08-04 09:34] TotallyInformation opened #31 "Export Msgs, wrong format?"
When I copy an individual msg to the clipboard or export a single msg to the clipboard, the message is in text.

If, however, I export "all browsed messages" to clipboard, the format is in binary:

[code]

That doesn't look right and isn't terribly helpful. Could it be fixed?

[2017-08-06 20:55] kamilfb commented on #10
@egnascimento @alieslam - it seems to work for me fine - set input as hex and subscription formatter to hex encoder -
![screenshot at 2017-08-06 21-51-38](https://user-images.githubusercontent.com/8521600/29006951-9422cc40-7af1-11e7-9b7f-02046e8047a5.png)
I'm wondering whether it behaves differently on Windows and Linux...

[2017-08-06 21:43] kamilfb commented on #12
@stevebates Sorry for taking so long to reply. I recon this is because the script is in an old format.

Could you try this instead:

function onMessage()
{
	mqtt.publish(
			"/reply", "<simpleReply><topic>" + receivedMessage.getTopic() + "</topic>"
			+ "<payload><![CDATA[" + receivedMessage.getPayload() + "]]></payload>"
			+ "</simpleReply>", 0, false);

	return true;
}

[2017-08-06 21:45] kamilfb commented on #31
@TotallyInformation - I will look into it. Thanks for raising this.

[2017-08-06 21:46] kamilfb commented on #28
@jckruege @TotallyInformation - I will look into it. Thanks for raising this.

[2017-08-06 22:11] kamilfb commented on #31
Fixed available in https://github.com/eclipse/paho.mqtt-spy/releases/tag/1.0.1-beta5

[2017-08-06 22:13] kamilfb commented on #30
@TotallyInformation Good idea - I will look into it.

[2017-08-07 13:07] egnascimento commented on #10
I retested here and I confirm the following:
- Problems persists in beta 52 in both Linux and Windows;
- Problem *solved *in *beta 56* in both Linux and Windows;

=)

THANK YOU!

2017-08-06 17:55 GMT-03:00 Kamil Baczkowicz <notifications@github.com>:

[2017-08-07 13:40] kamilfb commented on #10
@egnascimento - cool - thank you for confirming this!

[2017-08-07 13:40] #10 closed

[2017-09-01 08:33] tanchunwu opened #32 "Fail to create a new connection"
![image](https://user-images.githubusercontent.com/16300551/29961285-aca65350-8f31-11e7-92b7-85af451855c0.png)
environment: Windows 7, 32 bit operating system, J
operation:
1. I use cmd windows to execute the  mqtt-spy-0.5.4-jar-with-dependencies.jar
2. Click second window to create a new connection, but there is no response
3. Click menu Connections=>Manage Connections, but there is no response.

[2017-09-04 20:43] guillaume-d opened #33 "test cases cannot be loaded from the GUI"
On Windows 10 using mqtt-spy-1.0.0.jar with Java 8 with an empty profile (without any connection defined):
In the "Test cases" window loading test cases from the context menu only throws an exception.
A similar exception is thrown while opening that window.
Also the window never opens the first time, a second click in the "Window" menu entry is needed.

I can provide more details if reproducing th

[2017-09-07 13:46] kamilfb commented on #32
Hi @tanchunwu , could you also include the version of Java you are running it with? Help -> About or java -version on the command line. See more info at https://github.com/eclipse/paho.mqtt-spy/wiki/GettingStarted

[2017-09-24 22:42] albangabillon opened #35 "problem with subscriptions"
In "manage connections", in the "subscriptions" tab, I cannot add a topic. It is automatically replaced by the /sampleSubscription/ topic. Since I am new to MQTT, I may be missing something.

[2017-09-26 08:24] kamilfb commented on #35
You need to look at the note below the topic table. Double click on the row cell to edit, and then press Enter to submit the new value in the row. Let me know if that's any better.

[2017-09-26 14:42] sandoeg opened #36 "Charts - JSONPath error"
The following JSON formatted messages is being published on topic = home/environment on test.mosquitto.org.

{
          "humidity": 53.57,
          "pressure": 29.96,
          "temperature": 77.38,
          "timestamp": "Tue Sep 26 10:14:02 2017"
}

I am creating a Chart by selecting the topic from the Received messages summary, selecting Charts, then Show payload values for this topic.
I chan

[2017-10-04 00:43] albangabillon commented on #35
Thanks for your answer
I did all of this. It is when I try to save the connection settings that the topic reverts back to /sampleSubscription/

[2017-10-08 13:11] apollo25466 commented on #35
For me in myqtt-spy the connection to AWS IoT is established, it is green, but it is disconnected after about 15 seconds; I have the same problem as albangabillon, changing the topic is not possible; is this the root-cause of my problem of being disconnected from AWS IoT?

[2017-10-08 13:29] apollo25466 commented on #35
in the log-file I see
2017-10-08 15:22:08,698 INFO  [JavaFX Application Thread     ] [MqttEventHandler              ]  - About to resubscribe to all requested topics
as this topic /sampleSubscription/ is not the right, it disconnects again?

It is also not possible to add another one as a second entry; this second entry is converted afterwards again to /sampleSubscription/;

2017-10-08 15:22:05,69

[2017-10-19 21:44] neelam-007 opened #37 "client ID max length"
Is there a way to increase the maximum length for clientID?  The limit of 23 characters is actually a soft limit according to the specs, and I'm hoping there's a configuration variable someplace that allows limit increase.

[2017-10-20 07:26] kamilfb commented on #37
Hi. Try changing the protocol version to v3.1.1. That should help...

[2017-10-22 05:57] gwh-cpnet commented on #36
same for me

[2017-10-23 11:35] kamilfb commented on #32
@tanchunwu Looks like the root cause of this is "java.lang.NoClassDefFoundError: javafx/scene/control/Dialog", which points to an old version of Java - could you confirm which one you are using?

[2017-10-26 23:25] JeffLabonte opened #38 "Mac OS High Sierra with Java SDK 9"
I am unable to start the program.

This is what I get when I am trying to launch mqtt-spy :

[code]

[2017-10-26 23:34] JeffLabonte commented on #38
I have tried to clone the program and compile it myself :

mvn compile :

[code]

[2017-10-30 12:00] heckler opened #39 "Feature request: support for proxies"
When I'm behind a corporate proxy, mqtt-spy cannot reach out and connect to the internet. There might be some way to specify proxy settings when one is behind an outbound firewall, but I haven't found any reference in the documentation.

I've tried starting it with the following options, to no avail:

`java -jar mqtt-spy-1.0.0.jar -Dhttp.proxyHost=my-proxy-host -Dhttp.proxyPort=8080 -Dhttps.proxyH

[2017-11-10 20:49] kamilfb commented on #39
hi @heckler. any thoughts on how I could test that locally?

[2017-11-10 20:50] kamilfb commented on #38
I will look into that - thanks for reporting

[2017-11-10 21:58] kamilfb commented on #36
@sandoeg @gwh-cpnet, could you try https://github.com/eclipse/paho.mqtt-spy/releases/tag/1.0.1-beta9 ?

[2017-11-10 22:38] kamilfb commented on #33
hi @guillaume-d - many thanks for reporting this. could you try the latest beta? https://github.com/eclipse/paho.mqtt-spy/releases/tag/1.0.1-beta11

[2017-11-10 22:39] #32 closed

[2017-11-10 22:39] #37 closed

[2017-11-10 22:50] ikarus23 opened #40 "Feature Request - Support for elliptic curves based keys (TLS)"
I've noticed that it is not possible to use keys for TLS secured connections that are based on elliptic curves. Only RSA keys seem to be supported. Could you add the support for EC keys?

As pointed out by @kamilfb, this is a copy of https://github.com/kamilfb/mqtt-spy/issues/117

[2017-11-10 23:03] kamilfb commented on #28
@jckruege @TotallyInformation - I had a look at what it does and also the MQTT 3.1.1 spec...

It seems to me mqtt-spy is working as expected. Please review this paragraph from the MQTT spec:

When sending a PUBLISH Packet to a Client the Server MUST set the RETAIN flag to 1 if a message is sent as a result of a new subscription being made by a Client [MQTT-3.3.1-8]. It MUST set the RETAIN flag to

[2017-11-10 23:32] kamilfb commented on #19
@swilson86 could you try latest beta? https://github.com/eclipse/paho.mqtt-spy/releases/tag/1.0.1-beta13

[2017-11-11 18:46] tstoeckel commented on #38
+1
same problem, Mac OS 10.12.6

[2017-11-11 22:49] kamilfb commented on #38
@JeffLabonte  @tstoeckel as a temporary workaround, could you try adding "--add-modules java.xml.bind"  as a JVM parameter when starting java and see it that works?

[2017-11-12 06:40] tstoeckel commented on #38
Thanks, works!

[2017-11-12 20:57] DavidAntliff opened #41 "Last Will data length inconsistency"
Brought over from https://github.com/kamilfb/mqtt-spy/issues/118

mqtt-spy v1.0.0 on macOS Sierra.

If I set the Last Will data for a Connecting in the Connection List to be, say, "88" (Plain) then it shows "Data (0B)". If I set it to "888" then it changes suddenly to "Data (3B)". If I then delete one "8", back to "88", then it shows "Data (2B)".

It should probably show "Data (2B)" in the first i

[2017-11-12 21:48] kamilfb commented on #35
@albangabillon @apollo25466 I'm struggling to reproduce your issue:

I've created a new connection, went to the Subscriptions tab, clicked Add topic button, double clicked on /sampleSubscription/ to edit it, put the new value e.g. test2, press Enter key, click the Apply button. If I also selected 'Create tab' and open this connection, it will subscribe to the correct topic. Are you definitely doin

[2017-11-12 21:49] #12 closed

[2017-11-13 04:45] albangabillon commented on #35
Hi Kamil,

As you said I was trying to predefine subscriptions before connection. It is true that if I subscribe while connected then I can apply and save my subscription.

Sorry for that and thank you for your answer.

Best Regards

Alban Gabillon
Professeur des Universités en Informatique
Directeur de l’Ecole Doctorale du Pacifique
Tél.: (+689) 40 80 38 80 (GMT -10:00)
[ https://sites.google.com

[2017-11-13 10:27] heckler commented on #39
Hello @kamilfb,

If you don't have any proxied network, the easiest way to test this that I know off is using a local proxy interceptor on your machine.   The one I use all the time for development work is Burp Suite:

https://portswigger.net/burp

https://support.portswigger.net/customer/portal/articles/1783038-launching-burp-suite-from-the-command-line

You can ignore all the claims for multimpl

[2017-11-13 16:19] heckler commented on #39
Actually, looking at [this thread](https://www.eclipse.org/forums/index.php/t/720281/), this might be much harder to handle than I initially thought.

[2017-11-13 16:25] sandoeg commented on #36
mqtt-spy 1.0.1-beta9 fixes the problem that I reported.  Thank you for the fix.

[2017-11-13 16:25] #36 closed

[2017-11-13 19:58] kamilfb commented on #36
Awesome. Thanks for the feedback!

[2017-11-13 20:04] kamilfb commented on #39
Thank you for the explanation, that really helps. Just wondering.... if we need http proxy maybe we need to go via websockets (http) and not raw mqtt? Have you tried ticking the websocket option in connection settings? I will also explore how this might work and report back.

[2017-11-13 21:24] heckler commented on #39
Good point about WebSockets!

I went poking around and that might be hard to implement against AWS IoT as it uses an authentication schema (SigV4) which is specific to AWS.

Here's the doc about accessing AWS IoT over WebSockets:  http://docs.aws.amazon.com/iot/latest/developerguide/protocols.html

And here's the info on SigV4:  http://docs.aws.amazon.com/general/latest/gr//sigv4_signing.html

(I

[2017-11-13 22:34] kamilfb commented on #35
No problem - I'm glad it's fine now.

[2017-11-13 22:34] #35 closed

[2017-11-14 13:43] sandoeg commented on #36
Thank you for providing such a great software application.

From: Kamil Baczkowicz [mailto:notifications@github.com]
Sent: Monday, November 13, 2017 2:58 PM
To: eclipse/paho.mqtt-spy <paho.mqtt-spy@noreply.github.com>
Cc: sandoeg <sandoeg@gmail.com>; State change <state_change@noreply.github.com>
Subject: Re: [eclipse/paho.mqtt-spy] Charts - JSONPath error (#36)

Awesome. Thanks for the feedback!

[2017-11-16 15:02] guillaume-d opened #42 "test cases get no connection when run from the GUI"
On Windows 10 using mqtt-spy-1.0.1-beta-b11-jar-with-dependencies.jar with Java 8 with an open connection:
In the "Test cases" window running a test case which does mqtt.subscribe throws a null pointer exception.
On manual inspection of the code it looks like the connection object is null on that call.

I do not get how to make the GUI use the currently open connection for tests.
It seems related

[2017-11-16 15:04] guillaume-d commented on #33
This works perfeclty now, thanks!
Alas now I found #42!

[2017-11-16 15:04] #33 closed

[2017-11-22 13:27] kamilfb commented on #42
Have you tried this?

<img width="1151" alt="screen shot 2017-11-22 at 13 26 36" src="https://user-images.githubusercontent.com/8521600/33129742-e90bef2a-cf88-11e7-905f-bd41d4f8fe6c.png">

[2017-11-22 13:28] kamilfb commented on #42
See the 'Test cases' pane menu option...

[2017-11-23 18:12] Talking-Traffic-Test opened #43 "Exception when removing custom formatter"
Hi,

I created a custom formatter for testing purposes in v1.0.0. But removing it doesn't work.

`2017-11-23 19:06:24,572 ERROR [SpyUncaughtExceptionHandler   ]  - Thread Thread[JavaFX Application Thread,5,main] failed with java.lang.RuntimeException: java.lang.reflect.InvocationTargetException

java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
        at javafx.fxml.FXMLLoad

[2017-12-06 03:12] jwosnick opened #44 "ClientID longer than 23 characters"
MQTT-spy currently doesn't seem to allow the user to specify Client IDs longer than 23 characters. I recognize this is the MQTT standard, but at least one cloud IOT provider seems to require specific Client IDs that are around 35-40 characters long.

Any way to have MQTT-spy allow longer Client IDs?

[2017-12-07 12:45] kamilfb commented on #44
@jwosnick have you changed the protocol version to 3.1.1?

[2017-12-07 20:34] rokumar-redknee commented on #38
@tstoeckel
could you please tell me how did you resolve this, I am having same config like you and same error.

I am actually new to mac, and not able to solve this,.

[2017-12-07 21:34] tstoeckel commented on #38
@rokumar-redknee: manually start the jar file from console "java ....", add above option. If it works e.g. put this into a shell script for easy starting.

[2017-12-14 03:23] jwosnick commented on #44
I forced it to 3.1.1 and now it seems to be okay. I do note that the "auto-resolve" protocol option limits to 23 characters. Not what I would have expected but it's working now.

[2017-12-16 21:01] kamilfb commented on #44
Cool. Thanks for confirming.

[2017-12-16 21:01] #44 closed

[2018-01-02 05:58] Sermus commented on #38
Adding --add-modules helps, but then it throws exception when i try to create a new connection. Just launching Connections->New Connection causes this:

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.fxmisc.richtext.skin.TextFlowExt (file:/Users/1/Downloads/mqtt-spy-1.0.1-beta-b13-jar-with-dependencies.jar) to method javafx.scene.text.TextFlo

[2018-01-07 20:56] dersimn opened #45 "Maximum height for panes too less"
When collapsing or hiding the "Scripted publications" pane, a grey area appears at the bottom of the application. This becomes only visible while being connected to a broker and subscribed to at least one topic.

![screenshot 2018-01-07 22 52 31](https://user-images.githubusercontent.com/3258452/34653986-5acc33dc-f3f5-11e7-84cd-f79d3b1f5da5.png)
![screenshot 2018-01-07 22 52 35](https://user-image

[2018-01-09 23:37] typemismatch commented on #38
This "java -jar mqtt-spy-1.0.0.jar --add-modules java.xml.bind" on a Mac still fails with the same exception.

[2018-01-10 12:01] Sermus commented on #38
In my case adding xml bind cures the original problem but make it fail with another one - something was with skinning in JavaFX judging by the exception.

[2018-01-11 20:43] theScrabi opened #46 "Can not start UI"
I tried to start mqtt-spy 1.0 running `java -jar mqtt-spy-1.0.0.jar` however it did not work:
[code]

Am I missing something?

[2018-01-16 16:17] guillaume-d commented on #46
Does https://github.com/eclipse/paho.mqtt-spy/wiki/FAQs#error-could-not-find-or-load-main-class-plbaczkowiczmqttspymain help?
To help you more one would at least know which OS you are using.

[2018-01-16 16:47] guillaume-d commented on #42
This indeed works (with mqtt-spy v1.0.1 beta 11) but is almost undiscoverable from my POV.
That is why for others I would keep this bug opened until:
1) either the UI is improved:
   1) for example the 'Test cases' pane could be initially visible (probably best attached to the connection pane not to confuse users with an additional window), at least in a default perspective or maybe in a new "Test

[2018-01-16 17:10] theScrabi commented on #46
Ah right, that was the error. Thanks :)

[2018-01-16 17:10] #46 closed

[2018-01-16 17:14] guillaume-d commented on #6
#46

[2018-01-17 14:54] Biswajeeban opened #47 "Can we run different publishing scripts simultaneously ?"
I've just got a question. Is there any way we can run multiple simulation scripts on mqtt-spy concurrently? Suppose, I write 5 Scripts to publish some values to 5 different topics; instead of starting them one by one, is there any way I can start (run) all the scripts at the same time?

Thanks in advance.
Regards,
Biswa

[2018-01-21 19:50] kamilfb commented on #42
Good ideas @guillaume-d, thank you .I will look into this.

[2018-01-22 08:49] Biswajeeban commented on #47
Hi Kamil,
is the first one ( one script that publishes to all 5 topics) achievable using JavaScript ? Can I have a simple example of it?

[2018-01-22 13:49] kamilfb commented on #47
See the script below - it will publish a message each to the sample1-10 topics
[code]

[2018-02-09 22:35] tuplink opened #48 "Custom Config Location"
can you specify a configuration file from the command line to keep the config file in the same folder as the jar?

[2018-02-10 10:28] kamilfb commented on #48
Yes. See the Getting Started wiki page.

[2018-02-17 09:41] chintan-mishra commented on #38
This problem is also present in clean install of CentOS 7 kernel version 3.10.0-693.17.1.el7.x86_64 and Oracle Java HotSpot(TM) 64-Bit Server VM (build 9.0.4+11, mixed mode)

[2018-02-20 11:21] HeikoScholtes opened #49 "LWT Encoding issue in data field"
Using MQTT Spy version 1.0.0 build 3 on macOS high sierra + java version "1.8.0_152"
- select LWT checkbox
- select PLAIN in the dropdown
- check retain = true
- enter target topic name
- specify in the Data field the corresponding message payload "OFFLINE"

Result:
In the target topic the encoding is incorrect:
"OFFLINE" results in "8QK ?"

[2018-03-08 09:23] alancairns opened #50 "Version 1.0..1 beta (build 9) connection problem"
I am running mqtt-spy-1.0.1-beta-b9-jar-with-dependencies.jar in order to use the fix for the 'plotting JSONPath' problem in 1.0.0 (build 3)

I'm using an iMac with macOS High Sierra v10.13.3 with:
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)

I have a Mosquitto MQTT broker running on a Raspberry Pi

[2018-03-09 21:54] #48 closed

[2018-03-12 23:55] kamilfb commented on #38
I'm looking into this at the moment.

[2018-03-13 00:15] kartben commented on #38
I guess you probably also need javafx.base,javafx.control and probably some other javafx modules in your add-modules clause?

[2018-03-13 00:18] kamilfb commented on #38
@kartben nope! no need for add-modules; latest beta works by starting the jar file in the usual way.

[2018-03-13 00:23] kamilfb commented on #38
@JeffLabonte @tstoeckel @rokumar-redknee @Sermus @typemismatch @chintan-mishra - could you try the latest beta and see if that resolves the problems you we having? I've tested it on Java 8 (Linux) and Java 9 (Windows 10) - https://github.com/eclipse/paho.mqtt-spy/releases/tag/1.0.1-beta14

[2018-03-13 00:25] kartben commented on #38
Oops - I was trying to suggest a fix for @chintan-mishra's and others' issue, but yeah I guess you just fixed it! I'll just go back to my room now :-)

[2018-03-13 06:34] kamilfb commented on #38
@kartben This bug was caused by two separate issues. JAXB which was to do with modules, and secondly, RichTextFx doesn't seem to be compatible with Java 9 at all, so not using it at all.

[2018-03-13 08:34] #47 closed

[2018-03-13 16:30] m-elias opened #51 "Advanced scripting help - reading file into array"
I'm not sure where else to ask this question so please forgive if this is the wrong place.

I'm trying to modify a script I found [https://github.com/kamilfb/mqtt-spy/issues/116](here) for bulk clearing retained messages. I would like to modify it to load a list of topics from a text file but I'm running into errors with the examples I'm finding online. I understand mqtt-spy uses Nashorn JS but I

[2018-03-24 22:05] kamilfb commented on #51
Try this:

[code]

[2018-03-24 22:47] #28 closed

[2018-03-24 22:49] kamilfb commented on #15
I'm afraid this is too much effort at this stage, so need to close this.

[2018-03-24 22:49] #15 closed

[2018-03-24 23:08] #19 closed

[2018-03-24 23:09] #31 closed

[2018-03-24 23:19] kamilfb commented on #24
Now available in https://github.com/eclipse/paho.mqtt-spy/releases/tag/1.0.1-beta18 - thanks again @guillaume-d for this!

[2018-03-24 23:19] #24 closed

[2018-03-24 23:19] kamilfb commented on #43
This is now available in https://github.com/eclipse/paho.mqtt-spy/releases/tag/1.0.1-beta18. Thank you for reporting this @Talking-Traffic-Test

[2018-03-24 23:19] #43 closed

[2018-03-24 23:20] kamilfb commented on #49
This is now available in https://github.com/eclipse/paho.mqtt-spy/releases/tag/1.0.1-beta18. Thank you for reporting this @HeikoScholtes .

[2018-03-24 23:20] #49 closed

[2018-03-25 21:45] whhsn opened #52 "Saving the session"
Hi,
Is there a way to save the complete session - specially the charts?
& thanks for the great work

[2018-03-27 11:11] alancairns commented on #50
Hi Kamil

The log file only seems to show log of activity for mqtti-spy-1.0.0.jar but nothing for mqtt-spy-1.0.1-beta-b9-jar-with-dependencies.jar. I deleted the log file but it only gets created when using mqtti-spy-1.0.0.jar.

Can you advise?

Regards

Alan

[2018-03-28 21:45] kamilfb commented on #52
You can save the chart as an image or save all/selected messages to a log file, and then open it up later.

[2018-04-05 15:44] RadianM opened #53 "Chart axis values are almost unreadable"
I'm using mqtt-spy 1.0.1 beta 18 and finding the chart axis font has very little contrast and is extremely hard to read on every display I've tried:
![screenshot 2018-04-05 16 38 18](https://user-images.githubusercontent.com/13075243/38376186-fa020cf8-38ef-11e8-8cdd-4500350fcc0d.png)

[2018-04-15 21:03] whhsn commented on #52
I don't mean the chart image ... I mean the chart configuration, position, colors, .... to be opened whenever needed.
Is there a way to open the same charts with same configuration?

[2018-04-16 19:09] TotallyInformation commented on #28
Sorry for not responding. Happy to take your view - I'm certainly no MQTT expert. It is just that the behaviour is unexpected from a user perspective - perhaps some clarification in the docs would be helpful if you get a chance sometime?

[2018-04-17 16:28] m-elias commented on #51
Thanks @kamilfb! It works!

[2018-04-17 16:29] #51 closed

[2018-05-06 20:07] dgolda opened #54 "Chart - click on Show 50 messages dropdown freezes app"
When I click on Show 50 messages dropdown in chart window, application freezes - instead of open dropdown it shows black rectangle.

mqtt-spy 1.0.0 (build 3)
Java 1.8.0_40 Oracle
Windows 10 (reported in About box as: Windows 8.1 / 6.3 / amd64)

![image](https://user-images.githubusercontent.com/1191883/39677351-d29c1d0a-5179-11e8-8620-3f7affdc4c69.png)

[2018-05-14 22:45] abiliojunior opened #55 "Google IOT Core using MQTT-SPY, is possible?"
I'm trying to connect with Google IOT Core using MQTT-SPY. After some tentatives, nothing work.
Is it possible?

Windows 10 x64
mqtt-spy 1.0.0 (build 3)
Java 1.8.0_171

So, I did:

1. **Protocol version**: MQTT 3.1.1
2. **ServerURI**: mqtt.googleapis.com:8883
3.  **Cliente id:** projects/{my project}/locations/{xxx}/registries/{xxx}/devices/{xxx}
4. In security **TLS MOD**E: CA Certificate
5. **Pr

[2018-05-25 15:23] mjh-myriad opened #56 "Loading Configuration doesn't update Manage Connections pane"
Reproduced using both mqtt-spy-1.0.0.jar and mqtt-spy-1.0.1-beta-b18-jar-with-dependencies.jar.

On a clean boot of mqtt-spy, loading the default mqtt-spy-configuraion.xml file, opening 'Connections -> Manage connections' you see all configured connections for that config file. If you then use 'Configuration -> Open file' to point mqtt-spy to a new configuration xml file, the 'home' page updates w

[2018-06-05 15:25] ronaldbenve opened #57 "IPV6"
Is it compatible with IPV6 brokers ?
Now we're having ISPs blocking IPV4 outside access, and IPV6 being the future.

[2018-06-15 11:24] guillaume-d opened #58 "define strategy concerning Nashorn"
[Nashorn's short term future in the JDK is uncertain](https://www.infoq.com/news/2018/06/deprecate-nashorn).

From a cursory look at the source code MQTT-Spy does not seem to rely much on Nashorn specifically being used for the Javascript engine implementation: it is looked up by name, but probably only out of simplicity and because there is no other modern and production-ready implementation anyw

[2018-07-04 07:07] DzOker opened #59 "Double messages received if subscribe to all topics and specific subtopic"
When posting messages to topics "Topic/Subtopics/<ID>" and being subscribed to "Topic/Subtopic/#" and "Topic/#" there are duplicate messages received for that subtopic. If you unsubscribe from one of those topics single messages are received

mqtt-spy 1.0.1 beta 18
java version "10.0.1"
Win 10 Version 1803 build 17134.112

[2018-07-04 07:09] DzOker opened #60 "Tabs cannot be closed"
When trying to unsubscribe and close tabs of topics or disconnecting from server tab won't close

mqtt-spy 1.0.1 beta 18
java version "10.0.1"
Win 10 Version 1803 build 17134.112

[2018-07-08 11:05] MarthaZeppelin opened #61 "UNICODE Replacement character when saving a message as script"
I have a Hex payload as follows:
"0a0000000d000c01e184"
Using Save current messages as script yields
"mqttspy.publish("mytopic", "\n\u0000\u0000\u0000\r\u0000\f\u0001\uFFFD", 2, true);"

The final "\uFFFD" isn't a correct representation of the original "e184", Seems there's something going wrong, "\uFFFD" is the UNICODE Replacement character.

[2018-07-08 11:08] MarthaZeppelin opened #62 "typo within documentation"
There seems to be a typo on https://github.com/kamilfb/mqtt-spy/wiki/Scripting.
Instead of "spy.setScriptTimetout(timeoutInMilliseconds);" it should read "spy.setScriptTimeout(timeoutInMilliseconds);"

[2018-07-08 11:10] MarthaZeppelin opened #63 "possible extension to wiki"
Hi,
there's an example on how to publish binary data on https://github.com/kamilfb/mqtt-spy/blob/development/mqtt-spy/src/test/resources/scripts/publish_image.js.
Another way of having binary data would be in the form of a base64-encoded string.
I managed (with the help of a friend) to solve this:
`function publish()
{
var bytes = decodeBase64("CgAAAA0ADAHhhA==")
mqttspy.publish("ASTRA/snd/189", b

[2018-07-08 11:11] MarthaZeppelin opened #64 "Feature request; message load chart for individual topics"
Having a subscription including wildcards (+, #) it would be nice to have access to the "Show message load chart" not just for the subscription as a whole, but for all the individual topics received individually. And/Or for all topics marked "Browse" in one chart.

[2018-07-08 11:15] MarthaZeppelin opened #65 "problem with message content chart"
I have payloads decoded like

I try to use "Show payload values for this topic".
In the log I find
`2018-07-01 20:50:19,737 ERROR [JavaFX Application Thread ] [LineChartPaneController ] - Invalid payload java.lang.NumberFormatException: For input string: "{ "v": 69, "l": 313, "Typ": MR, "FR": pos }" at sun.misc.FloatingDecimal.readJavaFormatString(Unknown Source) at sun.misc.FloatingDecimal.parseD

[2018-07-14 14:07] TotallyInformation opened #66 "Doesn't work with Java v10"
On Windows 10 64bit, MQTT-Spy doesn't work with the current version of Java (v10).

Are there plans to fix this?

For reference, Java v8 is end of life in January 2019 for enterprise users.

[2018-07-28 12:35] hexenmeister commented on #66
MQTT-Spy v1.0.1 beta 18  works fine with my Java10 installation
`java -version
java version "10.0.2" 2018-07-17
Java(TM) SE Runtime Environment 18.3 (build 10.0.2+13)
Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0.2+13, mixed mode)`

[2018-07-30 09:52] PomDev2 opened #67 "Cannot use log4j DailyRollingFileAppender"
It would be great to be able to configure the message log files for long term monitoring. However, when editing the log4j.properties file in the jar according to the documentation, I cannot connect to brokers configured to use a log file if I specify log4j.DailyRollingFileAppender as shown below.

Can you get this to work?

More
------
2018-07-30 05:34:34,129 ERROR [Thread-14                     ]

[2018-08-30 10:12] MihirGangoly commented on #4
Dear Kurt,

Having similar issues trying to hook up mqtt-spy to the AWS broker. Issue seems to be with the certificates. Could be of help please?

[2018-09-29 21:11] MagnusThome commented on #30
That would be very nice!!!

[2018-10-16 20:20] cpinotossi opened #68 "Is there a possibility to support TLS Server Name Indication?"
Is there a possibility to support TLS Server Name Indication?

[2018-10-29 22:29] MagnusThome commented on #30
This is extremely high on my want list since I always set all tab layouts to "Message list (right)". Again and again and again :-)

Is there something I could help looking in to?

[2018-10-30 10:30] flymaxty opened #69 "Set default message content formatter does not work"
Hi,
I'm trying to set default message content formatter by setting "Message content formatter" on "Other" panel, but it does not work for me, the message still shows by plain, unless setting other formats manually on “Tools-Formatting”.
Is there any thing I misunderstand about "Message content formatter"?
I'm using 1.0.1 beta (build 18)

Thanks!

[2018-11-09 17:28] David-Lor opened #70 ".jar not executing on Ubuntu"
Trying to run mqtt-spy under Ubuntu 18.04 x86_64:

[code]
My translation:
[code]
Java version:
[code]
Tried with releases v1.0.1 beta18 & beta14

[2018-11-13 21:48] marcelser opened #71 "not showing any publications"
I'm running mqtt-spy 1.0,0 sucessfully and can open connection to mosquitto server. However I'm getting any information in "received messages" pane at all although I can see in mosquitto.log that quite some activity is going on. Any ideas why mqtt-spy is not getting those messages? I also made some subscriptions, but they are not getting anything either

[2018-11-13 21:50] marcelser commented on #71
Update: I needed to re-subscribe then I saw the messages and I think there's another bug also saying that automatic subscritbe on start-up doesn't work

[2018-11-18 17:16] ppt000 opened #72 "JavaFX not in Java11"
I have the error:
[code]

and I have realised it is probably because JavaFX is not included anymore in Java11, which I run.

I don't know how to include JavaFX 11 so that it works, maybe it has to be recompiled?  Can you include the necessary JavaFX classes in the jar?

[2018-11-24 09:00] martin-ger commented on #72
After lots of trial-and-error I think I understood, that it simply doesn't work with any Java11 version.
Going back to Java8 did the job (on Ubuntu):
[code]

[2018-12-06 03:12] chimit opened #73 "MQTT Spy crashes on losing focus"
I'm really tired of MQTT Spy. It crashes every time it loses focus in macOS. All versions including 0.5.4, 1.0.0, 1.0.1-beta 18.

macOS Mojave 10.14.1 (18B75)
Java 8 Update 191

Details: https://pastebin.com/iAA5rv2V

Steps to reproduce:

1. Open a "Connection list"
2. Change focus to any other window

[2018-12-10 16:39] TotallyInformation commented on #66
Indeed, that does work. Thanks.

[2018-12-10 16:39] #66 closed

[2018-12-15 00:58] Elinvention opened #74 "Please write configuration files to XDG_CONFIG_HOME"
In the GNU/Linux world there is this convention of keeping program's configuration files in `$XDG_CONFIG_HOME` which defaults to `$HOME/.config/` if not set. See https://wiki.archlinux.org/index.php/XDG_Base_Directory.

Some programs do create a folder in the user's home directory, but a least with a dot prepended, so that they are hidden by most file managers. mqtt-spy instead creates 2 visible f

[2019-01-15 13:32] nickes opened #75 "Publish kura encoded mqtt messages"
I'm having a problem with mqtt-spy (v.1.0.1-beta-b18) and kura 4.0.0.

Setup:
The kura gateway is connected to a kapua server over a cloud connection (with **Kura Protobuf** as encoding payload type).

Issue:
The decoding of the subscribed messages works fine, but my kura can not decode the messages published by mqtt-spy.
I looked for some solutions in the old and in this repo, but I didn't find a

[2019-01-29 16:17] #75 closed

[2019-02-18 19:35] crowmedia opened #76 "retain flag not working"
The retain flag will not be send in version 1.0.0 build 3 when publishing a message nor it will be received when I subscribe to a topic. If I send a message from another mqtt-client I will receive the retain flag.

[2019-02-23 23:07] Mebus commented on #72
It doesn't work on Fedora 29:

[code]

Mebus

[2019-02-27 10:07] hohljuer opened #77 "No message reception having 2 ethernet ports"
Running Ubuntu on a IoT device. IP address of first ethernet port starts with 172.* the second with 192.*. MQTT-Spy is configured to 192.*. I can publish messages with MQTT Spy but do not see any response in the received message field. After configuring MQTT Spy to 172.* publishing and message reception works. Any idea ?

[2019-03-07 21:53] macienfuegoss opened #78 "mqtt-spy daemon "I cannot reach my cloudmqtt server with my configuration.xml""

[2019-03-07 22:16] #78 closed

[2019-03-24 17:50] ZoltanSzilagyiCse commented on #72
Yes, as I see Java 11 is not supported yet. Is there any plans to support Java 11 or should we move on?

[2019-03-27 12:40] adriancuzman commented on #70
It seems that it's not working with OpenJDK, but it works with the one from Oracle...

[2019-05-03 07:14] skatsikeas commented on #70
I have the same issue with:
`openjdk version "12.0.1" 2019-04-16
OpenJDK Runtime Environment (build 12.0.1+12)
OpenJDK 64-Bit Server VM (build 12.0.1+12, mixed mode, sharing)`

on MacOS Mojave

[2019-05-03 14:50] vortex314 opened #79 "MQTT-SPY OPENJFX issue -- solved"
Hi,

Great product that you have developed. I'm using it whenever possible !
Despite reading and trying all remediation's on the infamous missing openjfx jars, I'm not able to solve this.
As Oracle has now also made Java more commercial, I would like to stick to OpenJDK.
My installed environment, see below. Suggestions ?

$ **java -jar mqtt-spy-0.5.4-jar-with-dependencies.jar**
Error: Could not fi

[2019-05-03 15:25] vortex314 commented on #79
Ok, got it solved . Quick and dirty with the below shell script :
**set -x
export JRE_WITH_JAVAFX_HOME=/home/lieven/arduino-1.8.8/java
export  JRE_HOME=/usr/lib/jvm/java-8-openjdk-amd64/jre
echo " copying from " $JRE_WITH_JAVAFX_HOME " to " $JRE_HOME
cp $JRE_WITH_JAVAFX_HOME/lib/ext/jfxrt.jar     $JRE_HOME/lib/ext/
cp $JRE_WITH_JAVAFX_HOME/lib/javafx.properties $JRE_HOME/lib/
cp $JRE_WITH_JAVAFX_H

[2019-05-03 19:15] #79 closed

[2019-05-03 20:39] diegovisentin commented on #70
Same issue with:
[code]
on Windows 10 Enterprise, verison 1809.
I think that the problem is that these JDKs don't have Java.FX as Oracle JDK.
I also tried to build from scratch with maven but withour success.
IMO this tool needs a clear documentation of requirements to run it using OpenJDK v8 (or explictly say that needs other modern versions).

[2019-06-11 09:50] ShaliniTewary opened #80 "Unable to connect to mosquitto server via mqtt spy jar."
Hi Team, I am unable to connect to MQTT server due to the below error. This has been happening from 11-Jun-2019. It was working fine before this. Any help is appreciated.
[mqtt-spy.log](https://github.com/eclipse/paho.mqtt-spy/files/3275782/mqtt-spy.log)

<img width="601" alt="MQTT" src="https://user-images.githubusercontent.com/51700276/59262024-1644d380-8c5c-11e9-97e8-7f1602346586.png">
<img wid

[2019-06-14 21:46] stephen-smith commented on #72
I got it to sort of work with OpenJDK 11 and OpenJFX 11 with `java --module-path /usr/share/openjfx/lib --add-modules javafx.base,javafx.controls,javafx.fxml -jar mqtt-spy-1.0.1-beta-b18-jar-with-dependencies.jar`, but you might need to add additional modules.

[2019-06-14 22:37] stephen-smith commented on #72
Can't cheat and setAccessible() anything you want with the new module in place, even without a security manager.  So `java --module-path /usr/share/openjfx/lib --add-modules javafx.base,javafx.controls,javafx.fxml,javafx.graphics,javafx.media,javafx.swing,javafx.web --add-exports javafx.graphics/com.sun.javafx.geom=ALL-UNNAMED --add-exports javafx.graphics/com.sun.javafx.text=ALL-UNNAMED --add-exp

[2019-06-25 07:24] olivm-fr commented on #70
@diegovisentin For Windows, you may try the release [here](https://github.com/olivm-fr/paho.mqtt-spy/releases/tag/1.0.1-proxy1), it is bundled with an Oracle Java8 JRE (not installed at system level)

[2019-06-25 07:29] olivm-fr commented on #72
@ppt000 JavaFX cannot really be included in the JAR (several discussions on the internet on why it is not a good idea). But, possibly, the right JRE can be bundled with the JAR to make it run, like I did on Windows [here](https://github.com/olivm-fr/paho.mqtt-spy/releases/tag/1.0.1-proxy1).

[2019-06-25 07:33] olivm-fr commented on #39
HTTP proxy support has been added to the code in the following fork : https://github.com/olivm-fr/paho.mqtt-spy/releases/tag/1.0.1-proxy1   :-)

[2019-06-30 00:48] stephen-smith commented on #72
@olivm-fr OpenFX project now recommends building it in your jar.  Older versions had problems with that, but it's been well and truly separated from the JRE (has have some remaining parts of JavaEE).  Since Java 9, the JavaFX website recommends including it with your application: https://openjfx.io/openjfx-docs/#modular

[2019-06-30 07:05] ZoltanSzilagyiCse commented on #72
I might look into the issue, give me some time.

[2019-07-12 13:09] venkyyalagala opened #81 "log updates of mqtt"
1) i am trying to get the complete status of the device for the subscribed topic,especially disconnection status i am not able to get . can you please help me with this .
2) is it possible to get the data of the devices which are subscribed to the broker ?

[2019-07-13 13:27] iminto commented on #72
when you compile a javafx application,you need javafx **mods**,
but when you run a javafx application,you need javafx **libs**,
this is the key to resolve your question.

I run it on Java 12， but it does't work well.

[2019-07-24 20:59] mhball commented on #40
I'd like to second this. We exclusively use EC keys in our environments

[2019-08-10 21:34] consolacion opened #82 "Annoying pop up"
How do I get rid of the annoying pop up asking for support?
It wont move, and will be on top of every application I open

Edit:
Seemed to have resolved itself

[2019-08-11 09:01] #82 closed

[2019-08-14 21:15] hemna commented on #70
Doesn't work for me on openSUSE Leap 15.1 either.

[code]

[2019-09-03 08:39] Ciruxx commented on #70
Same issue on Manjaro Linux:
[code]

I have installed almost every version of java over 8...
[code]
...but the message is the same with the beta version and the stable version:
( in this example ```mqtt-spy``` aka ```java -jar mqtt-spy-1.0.1-beta-b18-jar-with-dependencies.jar```)
[code]

This is the version of oracle java:
[code]

This is the version of one openjdk:
[code]
I have already installed

[2019-09-15 18:14] hocinilotfi commented on #72
This issue can be fixed by adding the openjfx path and modules as arguments when running the javafx application, I already posted the solution on this [link](https://stackoverflow.com/questions/53319350/error-could-not-find-or-load-main-class-application-main-caused-by-java-lang-n/57946745#57946745).
Good luck
Lotfi

[2019-11-30 13:09] Niondir commented on #4
Any hints on how to setup AMazon ActiveMQ an connect with MQTT Spy? I'm facing same issues.

[2019-12-03 10:17] q2dg commented on #72
Last commit was 2 years ago. Maybe it's time to leave...

[2020-01-10 15:34] viktorovichandrej commented on #38
Trying to build application (ver beta18) in Maven. Got error
`Exception in thread "main" java.util.ServiceConfigurationError: com.sun.tools.xjc.Plugin: com.sun.tools.xjc.addon.accessors.PluginImpl Unable to get public no-arg constructor
`
I added `--add-modules java.xml.bind` line `jvm.config` and got error:
[code]
How to solve that problem?

[2020-01-22 13:36] DrmagicE opened #83 "Why unsubscribe all topics when disconnect?"
I set cleanSession=false and subscribe a topic. I disconnect the client and find that it will send a unsubscribe packet to the broker. How can i disabled this behavior?  I need to test the broker should send messages to this disconnected client when it connects.

[2020-02-09 17:08] HamzaHajeir opened #84 "Losing connection data and all subscriptions when closing the window."
Hi

Mqtt-Spy works well and it solved me a good problem of logging, Anyway if for some case the program closes : all connection configs is lost, all log data is lost, And I need to reconfigure them.

What could be the solution for this issue ?
Thanks

[2020-04-18 11:03] bobcroft opened #85 "MQTT-Spy cannot get version"
I get the following error code when opening MQTT-Spy on Windows 10 with Java JRE 1.8.0.251.  Can any one help with the cause please.

2020-04-18 11:52:48,524 ERROR [ControlPanelController        ]  - Cannot retrieve version info
pl.baczkowicz.spy.exceptions.XMLException: Cannot unmarshal the XML
        at pl.baczkowicz.spy.xml.XMLParser.loadFromString(XMLParser.java:285)
        at pl.baczkowicz.

[2020-04-21 09:28] heywiki commented on #72
I was not able to get it to run unter AdoptOpenJDK, even with the --module-path and --add-modules althoug i downloaded the jdk and copied the libs to the right folder and made sure that they where read correctly. So i tried out another client http://mqttfx.org/. Interestingly enough it comes with an installer like the branch of olivm-fr, https://github.com/olivm-fr/paho.mqtt-spy/releases/tag/1.0.1

[2020-04-30 20:25] edwinm opened #86 "MacOS: NullPointerException at populateFontFileNameMap"
java -jar mqtt-spy-1.0.0.jar
MacOS 10.15.4
Java 1.8.0_181

Output when run for first time:

2020-04-30 22:19:36,277 INFO  [BaseConfigurationManager      ]  - Creating UI property file
2020-04-30 22:19:36,909 ERROR [BaseConfigurationUtils        ]  - Invalid number format
2020-04-30 22:19:37,336 DEBUG [MqttViewManager               ]  - Selected perspective = DEFAULT
2020-04-30 22:19:37,337 ERROR [

[2020-06-08 20:57] droopy4u commented on #6
general information of my system :

[code]
I have the same problem that java is **not** able to find the ‘`main`’ class!

[code]

Despite it is in the jar file : **`pl/baczkowicz/mqttspy/Main.class`**

[code]

**### Finally I found this problem :**
for more information --> see point 5. - troubleshooting

[code]

_My troubleshooting ;_

1. So I started to check the java version and to me it looks a

[2020-06-09 14:43] droopy4u opened #87 "MQTT-SPY :"
### 1. It originally started with

[more information about my troubleshooting - ](https://github.com/eclipse/paho.mqtt-spy/issues/6#issuecomment-640882578 )

The ERROR :
[code]

### 2. compatibility of version
**### Finally I found this problem :**
[for more information --> see point 5. - troubleshooting](https://github.com/eclipse/paho.mqtt-spy/issues/6#issuecomment-640882578 )

[code]
### SOLUTI

[2020-09-10 09:59] riker65 opened #88 "install and excute mqtt-sky 1.0 not working"
Hi

still having the problem on Ubuntu 20.04 to get mqtt-spy-1.0.jar executed.

~/mqtt-spy$ java -jar mqtt-spy-1.0.0.jar
Error: Could not find or load main class pl.baczkowicz.mqttspy.Main
Caused by: java.lang.NoClassDefFoundError: javafx/application/Application

looks like an old problem but did not find a new solution

java-version

 java -version
openjdk version "14.0.1" 2020-04-14
OpenJDK Runt

[2020-09-29 13:07] riker65 commented on #46
on ubuntu 20. java 8 does not have installation candidate.....
so not solved

[2020-10-17 08:03] alepez commented on #84
I have the same issue. Configuration file in ~/mqtt-spy/mqtt-spy-configuration.xml is never created.

Version 1.0.1 beta (build 18)

Java 1.8.0_265 Oracle

Os: Linux 4.19.77 amd64

This happens when doing: Connections -> Manage connections -> Write "test": on client id and 127.0.0.1 on "Server URI" -> Click "Apply" button

strace log:

[code]

mqtt-spy.log:

[code]

[2020-10-26 16:31] RickBullotta opened #94 "Expanded formatter capability"
It seems that the custom formatters are primarily for simple "re-shaping" of binary and text payloads.  It would be cool to be able to have code-based formatters with an optional UI component for scenarios where the payload is more "visual" (e.g. a camera image, audio or vibration waveform, etc).

[2020-11-12 09:26] SvenLuebke commented on #88
Hi!

If you are using OpenJDK (I use it as well) you have to separately install OpenJFX (I use version 15) as well. https://openjfx.io/openjfx-docs/#install-javafx documents the important steps. After installation I called mqtt-spy (Windows) with:
java --module-path %PATH_JFX% --add-modules javafx.controls,javafx.fxml -jar mqtt-spy-1.0.1-beta-b18-jar-with-dependencies.jar

and it's started then.

[2020-11-23 11:45] andrew-tpz opened #95 "Feature request: seperate formatters for message browser and summary table"
For example, it would be great to have:
- pretty json - in message "Data" field
- single line json - in "Content" column.

[2021-01-06 00:01] andrei-palamarciuc opened #96 "Message Content Chart: JSONPath: Value Expression - ?() Filter expressions doesn't work"
Version: mqtt-spy-1.0.1-beta-b18-jar-with-dependencies

**Payload**
{
"book": [
{
"category": "reference",
"author": "Nigel Rees",
"title": "Sayings of the Century",
"price": 8.95
},
{
"category": "fiction",
"author": "Evelyn Waugh",
"title": "Sword of Honour",
"price": 12.99
}
]
}

**Value Expression**
$.book[?(@.category=='reference')].price

**Result**
The chart doesn't display the expected val

[2021-04-10 14:25] Jean-Rem commented on #32
Environment: Windows 10, 64 bit operating system,

java version "15.0.1" 2020-10-20
Java(TM) SE Runtime Environment (build 15.0.1+9-18)
Java HotSpot(TM) 64-Bit Server VM (build 15.0.1+9-18, mixed mode, sharing)
+ javafx-sdk-16

I use cmd windows to execute the mqtt-spy-1.0.1-beta-b18-jar-with-dependencies.jar
Click second window to create new connections, but there is no response
Click menu Connec

[2021-04-30 07:53] 2mik commented on #80
Have the same issue.

[2021-05-10 06:59] QiAnXinCodeSafe opened #98 "There is a vulnerability in Apache Maven 3.0 ,upgrade recommended"
https://github.com/eclipse/paho.mqtt-spy/blob/41f477215fa54d6db31499eb3b2dc3dc539503c1/mqtt-spy/pom.xml#L72

CVE-2021-26291

Recommended upgrade version：
3.8.1

[2021-05-10 07:02] QiAnXinCodeSafe opened #99 "There is a vulnerability in Protocol Buffers 2.6.1 ,upgrade recommended"
https://github.com/eclipse/paho.mqtt-spy/blob/41f477215fa54d6db31499eb3b2dc3dc539503c1/mqtt-spy-common/pom.xml#L70

CVE-2015-5237

Recommended upgrade version：
3.0.0-9ubuntu5

[2021-05-10 07:05] QiAnXinCodeSafe opened #100 "There is a vulnerability in Commons IO 2.4 ,upgrade recommended"
https://github.com/eclipse/paho.mqtt-spy/blob/41f477215fa54d6db31499eb3b2dc3dc539503c1/spy-common/pom.xml#L37

CVE-2021-29425

Recommended upgrade version：2.7

[2021-05-29 05:13] Akiko-Chu commented on #85
I got the same problem.

[2021-07-09 06:23] riker65 opened #101 "hwoto open with cli and defined config xml"
Hi

having the issue that message is saying no config file found.

How to open with a defined config file?

Thanks

[2021-08-23 04:12] hspaay commented on #40
+1

[2022-02-11 19:42] colin713 commented on #87
Did you get a resolution with this issue. I have the same problem: I get the GUI as shown: Error getting version info. Also I am unable to connect to any of the brokers.
Using windows 10. I'm assuming the Java RTE supports FX, ?

C:\Users\...>java -version
java version "1.8.0_321"
Java(TM) SE Runtime Environment (build 1.8.0_321-b07)
Java HotSpot(TM) 64-Bit Server VM (build 25.321-b07, mixed mode)

[2022-03-18 15:34] haydos opened #104 "MQTT-Spy only connects to localhost broker"
Hi, I have tried using all available versions of MQTT-Spy and cannot connect to the sample brokers or a Raspberry Pi running a mosquito broker.
The MQTT-Spy update check also fails and shows a red cross on UI.
I have added incoming / outgoing rules to the windoes firewall that permit traffic from java/javaw and port 1883.
I am able to ping the Raspberry Pi from cmd on the computer running MQTT-Spy

[2022-10-01 09:09] stefaanv opened #105 ""Get involved" modal stuck in front of vscode"
How can I get rid of the Get Involved modal windows that is in front of my editor all the time ?

![image](https://user-images.githubusercontent.com/18347072/193402136-477cd09a-ab2d-4ff7-b9df-274247621ebe.png)

[2022-10-29 16:43] dgoadby commented on #105
Yes, me too, As the mqtt-spy version has not changed I assume it is a problem caused by a java update I tool last week.